// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//application
.main {
  margin-top: 70px;
}

.nav-link {
  color: white;
  font-size: 40px;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: none;
  color: white;
}

//search
.error {
  color: red;
}

//index
.content-item {
  border: 1px solid black;
  margin-bottom: 15px;
}

.sub-item {
  text-decoration: none;
  color: black;
}

.image {
  margin: 10px;
}

//show
.main-content {
  border: 1px solid black;
}

.category {
  color: gray;
  border: 0.1px solid gray;
  margin-left: 5px;
}

.name-kana {
  color: gray;
}

.pr_short {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.pr_long {
  font-size: 15px;
  line-height: 1.4;
}

#map-canvas {
  margin-top: 20px;
}
